<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
</head>
</span>

<img src="./images/ethiopia_flag.gif" alt="flag.gif" style="width:150px;height:70px;"/>
<br/>
<img src="./images/injera.png" alt="injera.png" style="width:600px;height:500px;"/>

<span>
<nav class="navbar navbar-default">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="main_page.html"><h4>Home</h4></a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="Recipies"><h4>Recipes</h4></a></li>
        <li><a href="injera_page.html"><h4>Ethiopia</h4></a></li>
        <li><a href="golabjamun.html"><h4>Indian</h4></a></li>
        <li><a href="bara_page.html"><h4>Nepal</h4></a></li>
        <li><a href="croque_page.html"><h4>French</h4></a></li>
    </ul>
</div>
</nav>
</span>


<h2>Injera (Ethiopia)</h2>

<h5>Ingredients</h5>
<ul>
<li>¾ cup teff flour (found in health food shops)</li>

<li>3½ cups water</li>

<li>pinch of salt</li>
</ul>

<h5>Directions</h5>

<p>Standing time 2 days</p>

<p>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</p>

<p>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</p>

<p>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</p>

<p>Do not let it brown, and make sure that it is not too thick.</p>

</body>
</html>