<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
</head>
<body background="http://mazola.com/img/page-background.png">
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="main_page.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recipes_page.html">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="injera_page.html">Ethiopia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="golabjamun.html">Indian</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="bara_page.html">Nepal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="croque_page.html">French</a>
        </li>
    </ul>
</nav>
<br>

 <div class="mainhead redtext">CY's Kitchen</div><br/>
 <div class="subhead redtext">Welcome to my International Cuisine Kitchen.<br/>  Here are some award winning recipes that I like to share with you.</div>


 <!-- <h1 class="redtext">Below is a picture of crabs</h1> -->

   <!-- <img src="/images/injera.png" alt="Dish"/> -->

<!--
    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                One of three columns
            </div>
            <div class="col-md">
                One of three columns
            </div>
            <div class="col-md">
                One of three columns
            </div>
        </div>
    </div>-->


</body>
</html>