<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">
</head>
<body>
 <h1 class="redtext">CY's Kitchen</h1> -->


<nav class="navbar navbar expand-default">
  <div class="container ">
   <div class="navbar-header">
      <a class="navbar-brand" href="#"><h4>Recipes</h4></a>
   </div>
   <ul class="nav navbar-nav">
       <li class="active"><a href="main_page"><h4>Home</h4></a></li>
       <li><a href="injera_page"><h4>Ethiopia</h4></a></li>
       <li><a href="golabjamun"><h4>Indian</h4></a></li>
       <li><a href="#"><h4>Jamaican</h4></a></li>
       <li><a href="#"><h4>Taiwanese</h4></a></li>
   </ul>
  </div>
</nav>


   <!-- <h1 class="redtext">Below is a picture of crabs</h1> -->

   <!-- <img src="/images/injera.png" alt="Dish"/> -->

<!--
    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                One of three columns
            </div>
            <div class="col-md">
                One of three columns
            </div>
            <div class="col-md">
                One of three columns
            </div>
        </div>
    </div>-->


</body>
</html>