<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="navlinks">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="mainpage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recipespage">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="injerapage">Ethiopia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="golabjamun">Indian</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="barapage">Nepal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="croquepage">French</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>

