<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navpage :: navlinks"></div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md">
            <a href="injerapage.html">
                <img src="./images/injera.png" alt="Dish Image" />
            </a>
        </div>
        <div class="col-md">
            <a href="golabjamun.html">
                <img src="./images/gulabjamun.jpg" alt="Dish Image" />
            </a>
         </div>
    </div>

    <div class="row">
        <div class="col-md">
            <a href="barapage.html">
               <img src="./images/bara.jpg" alt="Dish Image" />
            </a>
        </div>
        <div class="col-md">
            <a href="croquepage.html">
               <img src="./images/croque.jpg" alt="Dish Image" />
            </a>
        </div>
    </div>
</div>
</body>
</html>