<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="mainpage.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recipespage.html">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="injerapage.html">Ethiopia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="golabjamun.html">Indian</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="barapage.html">Nepal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="croquepage.html">French</a>
        </li>
    </ul>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="injerapage.html">
                <img src="injera.png" alt="Dish Image" />
            </a>
        </div>
        <div class="col-sm">
            <a href="golabjamun.html">
                <img src="gulabjamun.jpg" alt="Dish Image" />
            </a>
         </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <a href="barapage.html">
               <img src="bara.jpg" alt="Dish Image" />
            </a>
        </div>
        <div class="col-sm">
            <a href="croquepage.html">
               <img src="croque.jpg" alt="Dish Image" />
            </a>
        </div>
    </div>
</div>
</body>
</html>