h1{
    font-weight:bold;
    font-size:130px;
    background-color:magenta;
    text-align: center;
}

h9{
    font-weight:bold;
    font-size:130px;
    background-color:magenta;
    text-align: center;
}


h3{
    font-weight:bold;
    font-size:50px;
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #78e6dd;
}

h10{
    font-weight:bold;
    font-size:50px;
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #78e6dd;
}

h4{
    font-weight:bold;
    font-size:50px;
    background-color:greenyellow;

}

h11{
    font-weight:bold;
    font-size:50px;
    background-color:greenyellow;

}

par {
    margin: 0;
}

img{

    width:70px;
    height: 150px;
}

.headerclass{
    color:#802934;

}

.purpletext{
    color: magenta;
}

.redtext{
    color: #802d4a;

}

#exampleInputEmail1{
    color:brown;
}

body{
    font-family: 'Caveat Brush', cursive;
    background-color: magenta;

}

.navbar
{
    /*position:absolute;*/
    height: 100px;
    bottom: 0;
    left:0;
    /*background-color:magenta;*/
}
